figure {
    width: 150px;
    float: left;
}
figure img{
    height: 100%;
    width: 100%;
}
.first {
    clear: left;
}
body{
    background-color:azure;
}
h2 {
    color: brown;
}
figcaption {
    color: brown;
}
p{
    color: brown;
}